<main class="contenedor">
    <form class="default-form" method="post">
        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" placeholder="Your Password" required>
        </div>

        <div class="campo">
            <input type="submit" value="Save Password" class="btn btn-azul">
        </div>

    </form>
</main>