<main class="contenedor">
    <form action="/signUp" method="post" class="default-form">
        <div class="campo">
            <label>Name</label>
            <input type="text" name="name" placeholder="Your Name">
        </div>

        <div class="campo">
            <label>Email</label>
            <input type="email" name="email" placeholder="Your Email">
        </div>

        <div class="campo">
            <label>Password</label>
            <input type="password" name="password" placeholder="Your Password">
        </div>

        <div class="campo">
            <label>Password Confirm</label>
            <input type="password" name="password-confirm" placeholder="Your Password Again">
        </div>

        <div class="campo acciones">
            <a href="/signIn">Sign In</a>
        </div>

        <div class="campo">
            <input type="submit" value="Sign Up" class="btn btn-azul">
        </div>

    </form>
</main>