<main class="contenedor">
    <form action="/forgotPassword" class="default-form" method="post">
        <div class="campo">
            <label>Email</label>
            <input type="email" name="email" placeholder="Your Email" required>
        </div>
        <div class="campo acciones">
            <a href="/signIn">Back to Sign In</a>
        </div>
        <div class="campo">
            <input type="submit" value="Reset Password" class="btn btn-azul">
        </div>

    </form>
</main>